/* 社員インタビューバタン */
#interview{
	display: flex;
    justify-content: space-between; /* aligns children elements on the horizontal line with maximum space between */
    align-items: flex-start;
	background:#FADFE5;
	border-right: 10px solid #EB456F;
	padding-left: 40px;
}

#interview .recruit-info h1{
	background-color: #fff;
} 
#interview .recruit-info p {
	display: flex;
	align-items: center;
	margin-bottom: 0.5em;
	font-size: 14px;
}

#interview .recruit-info{
	text-align: left;
}
.background-section {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 30px 0;
	padding: 0;
}
.interview-section {
	margin-right: 90px;
	width: 100%;
	height: auto;
	overflow: hidden;
	position: relative;
}

.image-container {
	overflow-x: hidden;
	max-width: 768px;
	margin-left: 150px; 
}

.image-container {
  overflow-x: hidden;
  width: 768px;
  display: flex;
  justify-content: center;
}

.image-wrapper {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% - (1.5rem * (var(--per-view) - 1))) / var(--per-view));
  grid-gap: 1.5rem;
  position: relative;
  left: 0;
  transition: .3s;
  justify-items: center;
}
.image-wrapper > * {
  aspect-ratio: 4 / 3;
  overflow: hidden;
  border-radius: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-wrapper img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  display: block;
  border-radius: .5rem;
}
.text-show{
  display: none;
  list-style: none;
  color: #555;
  
}

@media screen and (max-width: 440px) {
    #interview {
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin: 0;
  
    }
    .image-container{
      width: 200px; /* 左マージンを0に設定 */
        gap: 5px; /* 写真間の距離を5pxに設定 */
    }
    .image-wrapper img {
        max-width: 90%;
        border-radius: .3rem;
      }
}
@media screen and (max-width: 768px) {
	#interview {
	  flex-direction: column;
	  align-items: center;
	  text-align: center;
    margin: 0;
    padding: 25px 0px;
	}
  .interview-container{
    align-items: center;
  }
	.image-container{
   margin-left: 100px;
		width: 350px;
	}
  .text-show{
    display: block;
  }
  }
