
#interview{
	display: flex;
    justify-content: space-between; /* aligns children elements on the horizontal line with maximum space between */
    align-items: flex-start;
	background:#FADFE5;
}
#interview .recruit-info p {
	display: flex;
	align-items: center;
	margin-bottom: 0.5em;
	font-size: 14px;
}
#interview .recruit-info{
	text-align: left;
}
.people{
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 38vh;
	padding: 30px 35px;


}
.wrapper{
	max-width: 800px;
	width: 100%;
	position: relative;
}
.wrapper i{
	height: 50px;
	width: 50px;
	text-align: center;
	line-height: 50px;
	border-radius: 50%;
	cursor: pointer;
	position: absolute;
	top:50%;
	font-size: 1.25rem;
	transform: translateY((-50%));
	background-color: #f0f0f0;
	box-shadow: 0 3px 6px rgba(0,0,0,0.23);
}
.wrapper i:first-child{
	left: -80px;
}
.wrapper i:last-child{
	right: -80px;
}

.wrapper .carousel{
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: calc((100% / 3) -12px);
	gap:16px;
	overflow-x:auto;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	scrollbar-width: 0;
}
.carousel::-webkit-scrollbar{
	display: none;
}
.carousel :where(.card, .img){
	display: flex;
	align-items: center;
	justify-content: center;

}
.carousel.no-transition{
	scroll-behavior: auto;
}
.carousel.dragging {
	scroll-snap-type: none;
	scroll-behavior: auto;
}
.carousel.dragging .card{
	cursor: grab;
	user-select: none;
}
.carousel .card{
	scroll-snap-align: start;
	height: 100%;
	width: 200px;
	list-style: none;
	/* background: #f0f0f0; */
	border-radius: 8px;
	display: flex;
	cursor: pointer;
	padding-bottom: 10px;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.card .img{
	background: #8b53ff;
	width: 158px;
	height: 158px;
	border-radius: 50%;
	box-shadow: 0 3px 9px rgba(0,0,0,0.5);
}
.card .img img{
	width: 150px;
	height: 150px;
	object-fit: cover;
	border-radius: 50%;
	border:4px solid #f0f0f0;
}
.card h2{
	font-weight: 500;
	font-size:1.5rem;
	margin: 10px 0 5px;
}
.card span{
	color: #6a6d78;
	font-size:1.3rem;
}

@media screen and (max-width:900px) {
.wrapper .carouse1{
	grid-auto-columns: calc((100% / 2) -9px );
}
}
@media screen and (max-width:600px) {
.wrapper .carouse1{
	grid-auto-columns: 100%;
}
}