/* キャッチコピー */
.home{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    background:url(../images/home2.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
.content {
    max-width: 50rem;
    text-align: left;
    margin-left: 8%;
  }
.title {
    font-weight: bold;
    color: white;
    font-size: 7rem;
}
.title:last-child {
    font-weight: bold;
    color: white;
    font-size: 10rem;
}

/* MESSAGE */
#about{
    background: #fff(209, 192, 192, 0.5);
}
.about {
    display: flex;
    align-items: center;
}

.imagelist {
    width: 55%;
    height:auto;
}

.show{
    float: left;
    margin-bottom: 20px;  
    margin-top: 50px;
    margin-left: 40px;
    margin-right: 40px; 
    border-radius: 50%;
    object-fit: cover;
    box-shadow:0 3px 9px rgba(0,0,0,0.5);
}
.show:first-child{
    width: 300px;
    height: 300px;
}
.show:last-child{
    width: 400px;
    height: 400px;
    margin-left: 30px;
}
.textlist {
    width: 100%;
    padding-left: 100px;
    overflow: auto;
    position: relative;
    background: transparent;
}
.about {
    width: 100%;
    overflow: auto;
    position: relative;
}
.about::before {
    content: "";
    position: absolute;
    top: 45%;
    left: 65%;
    width: 500px;
    height: 500px;
    background-color: #FADFE5; 
    box-shadow: 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 50%; 
    z-index: -1; 
    transform: translate(-50%, -50%);
}
.lalaleft{
    margin-left:0%;
}
.lalamid{
    content: "";
    position: absolute;
    top:50%;
    left: 50%;
    width: 200px;
    height: 200px;
}
.lalaright{
    float: right;
    margin-right: 80px;
    margin-bottom: 10px;
}

.about .textlist h1{
    font-size: 3em;
}
.about .textlist h3{
    font-size: 3rem;
    font-family:'Raleway', Times, serif;
    letter-spacing: 2px;
    color: blue;
    line-height: 50px;
}

.heading span{
    color:var(--red);
}
.about .textlist p{
    font-size: 1.3rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
@media screen and (max-width: 900px) { 
    .show:last-child{
        width: 200px;
        height: 200px;
    }
    .show:first-child{
        width: 200px;
        height: 200px;
    }
    .about::before{
        width: 350px;
        height: 350px;
    }

    .textlist {
        padding: 10px;
        font-size: 14px;
    }
    .textlist .lalaright{
        display: none;
    }

}

@media screen and (max-width: 768px) { 
    .title {
        font-size: 3em;
    }
    .title:last-child {
        font-size: 4em;
    }

    .show{
        float: none;
        margin-bottom: 20px;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        width: 70%; 
        height: auto;
        display: none;
    }
    
    .about {
        flex-direction: column; 
        align-items: center;
    }
    
    .imagelist, .textlist {
        width: 100%;
    }
    
    .textlist {
        padding: 10px;
        font-size: 14px;
    }
    .textlist .lalaright{
        display: none;
    }

    .lalamid{
        top:60%;
    }
    .about::before{
        width: 300px;
        height: 300px;
    }
}

@media screen and (max-width: 440px){
    .title {
        font-size: 2.2em;
    }
    .title:last-child {
        font-size: 2.6em;
    }
}


