/* Nav */
.nav-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 2rem;
    
  }
  
  .nav-menu li {
    display: inline-block;
    position: relative;
    
  }
  
  .nav-menu li a {
    display: block;
    padding:0 1.5rem;
    text-decoration: none;
    color: #555;
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    list-style-type: none;
    
    margin: 0;
    background: rgba(232, 246, 253, 0.8);
    transition: all 0.5s ease;
    font-size: 13px;
    border-top: 3px solid red;
    
  }
  
  .dropdown-menu li {
    padding: 0 2.9rem;
    display: block;
    float: none;
    text-align: center;
    font-weight: 600;
    font-size: 13px !important ;
    border-bottom: 1px solid #d8ecf8;
    
  }
  
  .dropdown-menu li a {
    padding: 10px 0px;
    text-decoration: none;
    color: #555;
  }
  
  .dropdown:hover .dropdown-menu {
    display: block;
  }