/* 親要素のスタイル、Flexboxレイアウトを使用 */
#news {
  display: flex;
  justify-content: center; /* 水平方向の中央揃え */
  align-items: center; /* 垂直方向の中央揃え */
  margin: 60px; /* 周囲との余白を調整 */
}

/* 左側のイベントリストのスタイル */
.event-list {
  flex: 1; /* 残りのスペースを均等に分配 */
  height: 540px; /* イベントリストのコンテナの高さ */
  overflow-y: scroll; /* 垂直方向のスクロールバーを表示 */
  background-color: #f2f2f2; /* 背景色の設定 */
  border: 1px solid #ccc; /* ボーダースタイルの設定 */
  padding: 10px; /* 内側の余白の設定 */
  margin-right: 30px; /* 右側のコンテナとの間隔を調整 */
}

/* 右側のPDF埋め込みコンテナのスタイル */
.pdf-embed {
  flex: 1; /* 残りのスペースを均等に分配 */
  height: 540px; /* 右側のコンテナの高さ */
  background-color: #fff; /* 背景色の設定 */
  border: 1px solid #ccc; /* ボーダースタイルの設定 */
  padding: 10px; /* 内側の余白の設定 */
  margin-left: 30px; /* 左側のコンテナとの間隔を調整 */
}

/* 追加されたテキストのスタイル */
.added-text {
  background-color: #fff;
  text-align: center;
  margin-bottom: 10px;
  padding: 5px;
  font-weight: bold; /* 太字のフォントの設定 */
}
