#news {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background: #FADFE5;
}

.news-header {
  text-align: left;
  margin-right: 40px;
}

.news-header h1 {
  font-size: 3em;
  margin-bottom: 0.5em;
}

.news-header .subheading {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

.news-header .announcement {
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
}

.news-header .announcement img {
  width: 26px; /* half of original width */
  height: 26px; 
}

.event-list {
  flex-grow: 1;
  background: #fff;
  margin: 0px 40px;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.23);
}

.event-list ul {
  list-style: none;
  padding: 5px;
}

.event-list .list-item {
  display: flex;
  justify-content: flex-start; /* Aligned to start */
  gap: 80px; /* Adjust this value to your needs */
  margin-bottom: 0.2em;
  padding: 8px;
  border-bottom: 1px solid #f7f7f7;
}

.event-list .date {
  font-size: 1.5em;
  font-weight: bold;
  margin-right: 1em;
}
/* PDF FILE */
#news-file {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0px;
  border-radius: 8px;
  width: 80%;
  margin: 0 auto;
}
.added-text{
  padding: 10px;
  font-size: 2em;
}
.pdf-embed {
  width: 100%;
  text-align: center;
}

#pdf-viewer {
  width: 70%;
  height: 500px;
  margin-bottom: 1em;
  box-shadow: 0 3px 9px rgba(0,0,0,0.5);
}

#prev, 
#next {
  
  border: none;
  color: #000;
  padding: 7px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#page_num {
  display: inline-block;
  margin: 0 1em;
}

.page-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}