#news {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background: #FADFE5;
  border-left: 10px solid #EB456F;
  padding-left: 30px;
}

.news-header {
  text-align: left;
  margin-right: 40px;
  animation: 2s ease;
}

.news-header h1 {
  font-size: 3em;
  background-color: #fff;
}

.news-header .subheading {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

.news-header .announcement {
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
  font-size: 14px;
}

.news-header h1, .news-header .subheading, .news-header .announcement {
  transform: translateX(-100%);
  transition: transform 0.5s ease-out;
}
.news-header .show1 {
  transform: translateX(0%);
  opacity: 1; 
}


.event-list {
  width: 100%;
  flex-grow: 1;
  background: #fff;
  margin: 0px 40px;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.23);
}

.event-list ul {
  list-style: none;
  padding: 5px;
}

.event-list .list-item {
  display: flex;
  justify-content: flex-start;
  gap: 80px;
  margin-bottom: 0.2em;
  padding: 8px;
  border-bottom: 1px solid #f7f7f7;
}

.event-list .date {
  font-size: 1.5em;
  font-weight: bold;
  margin-right: 1em;
}

.event-list a{
  background-color: #FADFE5; 
  color: palevioletred;
}
.event-list a:hover{
  background-color: #FADFE5; 
  color: palevioletred;
  font-size: 18px;
}

@media screen and (max-width: 767px) {
  #news {
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: 15px;
    padding: 20px;
    text-align: center;
  }

  .news-header {
    margin-right: 0;
    text-align: center;
  }
  .news-header .announcement{
    display: block;
  }
  .news-header .subheading{
    margin: 0;
  }
  .event-list .list-item{
    gap: 40px;
  }
  .event-list .date {
    margin-bottom: 0.5em;
  }
}
@media screen and (max-width: 468px) {
  #news{
    font-size: 12px;
  }
}
/* PDF FILE */
#news-file {
  justify-content: center;
  align-items: center;
  padding: 0px 0 50px 50px ;
  border-radius: 8px;
  margin: 0 auto;
}
.news-h1{
  width: fit-content;
  text-align: left;
  padding-left: 20px;
  border-left: 10px solid #EB456F;
}
.news-h1 h1{
  background-color: #fff;
  font-size: 3em;
  padding: 0;
}
.added-text{
  padding: 0px 10px;
  font-size: 1.2em;
}
.pdf-embed {
  width: 100%;
  text-align: center;
  margin-bottom: 1em;
}

.emble-pdf{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.4); 
}
@media only screen and (max-width: 768px) {
  #news-file {
    width: 100%;
    padding: 20px;
  }

  .news-h1 {
    padding-left: 10px;
    text-align: center;
    margin: auto;
    border-left: 0px;
    
  }
.news-h1 h1{
  background-color: #FADFE5;
}
  .added-text {
    padding: 5px;
    font-size: 16px;
  }

  .emble-pdf{
    height:400px;
  }
  
}
