#about{
    /* background: rgba(243,187,200,0.7); */
    background: #fff(209, 192, 192, 0.5);
}
.home{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    background:url(../images/home2.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
.content {
    max-width: 50rem;
    text-align: left;
    margin-left: 8%;
  }
.title {
    font-weight: bold;
    color: white;
    font-size: 7rem;
}

.about {
    display: flex;
    align-items: center;
}

.imagelist {
    width: 55%;
    height:auto;
}

.show{
    float: left;
    margin-bottom: 20px;  
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px; 
    border-radius: 50%;
    object-fit: cover;
    box-shadow:0 3px 9px rgba(0,0,0,0.5);
}

.textlist {
    width: 100%;
    padding-left: 70px;
    overflow: auto;
    position: relative;
}
.textlist::before {
    content: "";
    position: absolute;
    top: 45%;
    left: 50%;
    width: 600px;
    height: 600px;
    background-color: #FADFE5; 
    box-shadow: 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 50%; 
    z-index: -1; 
    transform: translate(-50%, -50%);
}
.lalaleft{
    margin-left:0%;
}
.lalamid{
    content: "";
    position: absolute;
    top:50%;
    left: 50%;
    width: 200px;
    height: 200px;
}
.lalaright{
    float: right;
    margin-right: 80px;
    margin-bottom: 10px;
}

.about .textlist h1{
    font-size: 3em;
}
.about .textlist h3{
    font-size: 3rem;
    font-family:'Raleway', Times, serif;
    letter-spacing: 2px;
    color: blue;
    line-height: 50px;
}
.heading span{
    color:var(--red);
}
.about .textlist p{
    font-size: 1.3rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

